<section class="bg-light d-flex flex-column justify-content-center py-4">
  <div class="container text-center">
    <h1 class="fw-bold">Cast Your Vote</h1>
    <h3 class="text-secondary fs-4 mb-5">Your voice matters. Make your choice for the 2024 Presidential Election.</h3>
  </div>
  
  <div class="container bg-white p-5 border shadow-sm rounded-3">
    <h3>Presidential Election 2024</h3>
    <form action="#">
      <div class="form-check card flex-row align-items-center p-3 mb-3">
      <input class="form-check-input px-3 py-3 mx-3" id="kamala" type="radio" name="candidate"> 

        <label class="form-check-label mt-3" for="kamala">
          <p class="fw-bold fs-4" style="margin-bottom: 0;">Kamala Harris</p>
          <p class="text-secondary">Democratic Party</p>
        </label>
      </div>

      <div class="form-check card flex-row align-items-center p-3 mb-3">
        <input class="form-check-input px-3 py-3 mx-3" id="trump" type="radio" name="candidate"> 

        <label class="form-check-label mt-3" for="trump">
          <p class="fw-bold fs-4" style="margin-bottom: 0;">Donald Trump</p>
          <p class="text-secondary">Republican Party</p>
        </label>
      </div>

      <div class="form-check card flex-row align-items-center p-3">
        <input class="form-check-input px-3 py-3 mx-3" id="kennedy" type="radio" name="candidate"> 

        <label class="form-check-label mt-3" for="kennedy">
          <p class="fw-bold fs-4" style="margin-bottom: 0;">Robert F. Kennedy</p>
          <p class="text-secondary">Independent Party</p>
        </label>
      </div>

      <button type="submit" class="btn btn-success mt-5 p-3 px-4 fs-4 fw-bold">Submit Vote</button>
    </form>
  </div>
</section>