<section class="bg-light d-flex flex-column justify-content-center align-items-center" style="min-height: 92vh">
  <img src="assets/images/info.svg" alt="" width="110px">
  <h1 class="fw-bold pt-2">How to Vote Online</h1>
  <p class="text-secondary text-center fs-4">Follow these simple steps to cast your vote securely and make your voice heard in our democracy.</p>

  <div class="container pt-5">
    <div class="row">
      <div class="col-12 col-lg bg-white rounded-3 shadow-sm p-5 mx-lg-5 mb-3">
        <div class="rounded-circle d-flex justify-content-center align-items-center" style="width: 65px; height: 60px; background-color: rgba(30, 64, 175);">
          <h1 class="text-white">1</h1>
        </div>
        
        <h3 class="mt-4">Register & Verify</h3>
        <p class="text-secondary">Create your account using your government-issued ID and complete the verification process.</p>
      </div>

      <div class="col-12 col-lg bg-white rounded-3 shadow-sm p-5 mx-lg-5 mb-3">
        <div class="rounded-circle d-flex justify-content-center align-items-center" style="width: 65px; height: 60px; background-color: rgba(30, 64, 175);">
          <h1 class="text-white">2</h1>
        </div>
        
        <h3 class="mt-4">Secure Login</h3>
        <p class="text-secondary">Log in using your credentials and complete two-factor authentication for added security.</p>
      </div>

      <div class="col-12 col-lg bg-white rounded-3 shadow-sm p-5 mx-lg-5 mb-3  ">
        <div class="rounded-circle d-flex justify-content-center align-items-center" style="width: 65px; height: 60px; background-color: rgba(30, 64, 175);">
          <h1 class="text-white">3</h1>
        </div>
        
        <h3 class="mt-4">Cast Your Vote</h3>
        <p class="text-secondary">Review candidates, make your selections, and submit your ballot securely.</p>
      </div>
    </div>
  </div>
</section>