main#spapp>section {
  display: none;
}

main#spapp>section:last-child {
  display: block;
}

main#spapp>section:target {
  display: block;
  animation: appear 0.1s linear 1;
}

main#spapp>section:target~* {
  display: none;
}